body {
    margin: unset;
    font-family: 'Google Sans', 'Roboto', sans-serif !important;
}

.title-page__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.title-page {
    position: relative;
    left: 0px;
    width: 100%;
    display: flex;
    height: 100vh;
}

.title-page__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-page__title title, .title-page__title a {
    display: flex;
}

.map-view__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.map {
    position: relative;
    left: 0px;
    width: 100%;
    display: flex;
    height: 100vh;
}

.right-display-pane__wrapper {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    width: 15vw;
    right: 0.6rem;
    top: 6rem;
    padding: 12px;
    border-radius: 7px;
    /* border: 1px solid rgb(128, 146, 177); */
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}

.timeline-control-bar__wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 2rem;
    width: 100%;
}

.timeline-control-bar {
    display: flex;
    background: white;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 40%;
    overflow-x: hidden;
}

.timeline-control-bar .option {
    color: #80868B;
    font-size: 14px;
    line-height: 14px;
    padding-right: 16px;
    padding-left: 16px;
    flex-basis: 36px;
    padding-top: 10px;
    padding-bottom: 8px;
    cursor: pointer;
}

.timeline-control-bar .option.selected {
    border-radius: 16px;
    background-color: #2979FF;
    color: white;
    font-weight: 500;
}

.button-section__wrapper {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    right: 10vw;
    column-gap: 2rem;
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: rgb(106, 160, 252);
    color: white;
    font-size: medium;
    font-weight: 400;
    border: 1.5px solid rgb(94, 114, 212);
    border-radius: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover,
button:active {
    background-color: rgb(87, 127, 197);
}
