body {
    margin: unset;
    font-family: 'Google Sans', 'Roboto', sans-serif !important;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 600, 'GRAD' 0, 'opsz' 24;
}

.title-page__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url('./../assets/crop-progress-splash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-page {
    position: relative;
    left: 0px;
    width: 100%;
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #7b9edfab, #19da5ac9);
}

.title-page__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-page__title img,
.title-page__title a {
    display: flex;
}

.title-page__image {
    width: 75%;
    max-width: 400px;
    min-width: 300px;
    margin-left: -3vw;
}

.title-page__description {
    max-width: 400px;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}

.title-page__title a {
    margin-top: 3vh;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.link-button {
    padding: 0.9rem;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    border-radius: 30px;
    border: 2px solid rgb(69, 69, 69);
    font-size: 26px;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgb(244 230 193 / 80%) 0px 1px 4px -1px;
    transition: all linear 0.2s;
}

.link-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(107, 105, 100, 0.4) 0px 1px 5px 2px;
}

.back-button {
    display: flex;
    position: absolute;
    margin: 1rem;
}

.back-button a {
    font-size: 20px;
    box-shadow: rgb(107, 105, 100, 80%) 0px 1px 4px -1px;
}

.map-view__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.map {
    position: relative;
    left: 0px;
    width: 100%;
    display: flex;
    height: 100vh;
}

.right-display-pane__wrapper {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    width: 15vw;
    min-width: 150px;
    right: 1rem;
    top: 1rem;
    padding: 12px;
    border-radius: 7px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    flex-direction: column;
    align-items: flex-start;
}

.crop-gradient__wrapper {
    max-width: 15vw;
    min-width: 150px;
    width: auto;
    display: flex;
    clear: both;
    position: relative;
    flex-direction: column;
}

.crop-gradient {
    width: 100%;
}

.crop-gradient__help-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.timeline-control-bar__wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 2rem;
    width: 100%;
}

.timeline-control-bar {
    display: flex;
    background: white;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 40%;
    min-width: 400px;
    max-width: 600px;
    overflow-x: hidden;
}

.timeline-control-bar .option {
    color: #80868b;
    font-size: 14px;
    min-width: 60px;
    line-height: 14px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 8px;
    cursor: pointer;
    text-align: center;
}

.timeline-control-bar .option.selected {
    border-radius: 16px;
    background-color: #2979ff;
    color: white;
    font-weight: 500;
}

.control-section {
    display: flex;
    position: relative;
    width: calc(100% - 48px);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-grow: 1;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.control-section::-webkit-scrollbar {
    display: none;
}

.bar {
    display: flex;
    width: auto;
    position: relative;
    transition: all 0.4s;
    left: 0;
}

.button-wrapper {
    width: 24px;
    display: flex;
}

.button-wrapper button {
    border: unset;
    background-color: transparent;
    box-shadow: unset;
    color: #000;
    padding: 0px;
    justify-content: center;
    opacity: 0.58;
}

.button-wrapper button:hover {
    opacity: 0.9;
    background-color: transparent;
}

.button-wrapper.leading {
    width: 56px;
}

.button-wrapper .animation-button {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}

.button-section__wrapper {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    right: 10vw;
    column-gap: 2rem;
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: rgb(106, 160, 252);
    color: white;
    font-size: medium;
    font-weight: 400;
    border: 1.5px solid rgb(94, 114, 212);
    border-radius: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover,
button:active {
    background-color: rgb(87, 127, 197);
}

.gm-svpc {
    display: none !important;
}

.ui-button-top {
    position: absolute;
    margin-left: -11rem;
    margin-top: -4.5rem;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    background-color: rgb(8 9 12);
}

.ui-button-bottom {
    position: absolute;
    margin-top: 4.5rem;
    margin-left: -11rem;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    background-color: rgb(8 9 12);
}

.ui-button-left {
    position: absolute;
    margin-left: -15.5rem;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    background-color: rgb(8 9 12);
}

.ui-button-right {
    position: absolute;
    margin-left: -6.5rem;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    background-color: rgb(8 9 12);
}
